manifest {

	name = 'GATK Joint-Genotyping'
	author = 'Michael G. Campana'
	homePage = 'https://github.com/campanam/gatk_downstream'
	description = 'Automated GATK Joint-Genotyping'
	mainScript = 'gatk_downstream.nf'
	version = '0.1.0'
	nextflowVersion = '>=20.10.0, <=22.10.4'

}

params {

	outdir = "$launchDir/results"
	stem = "out"
	refseq = "ref.fa"
	refseq_fai = "ref.fa.fai"
	refseq_dict = "ref.dict"
	gvcfs = "$launchDir/gVCFs"
	java_options = '-D64 -Dserver -XX:MaxHeapSize=14G'
	vcftools_site_filters = "--minDP 5 --minGQ 40 --max-missing 0.1" // Site filters to pass to VCFtools. Set to "NULL" to ignore this filter.
	gatk_site_filters  = '--filter-name "filter" --filter-expression "QD < 4.0 || FS > 60.0 || MQ < 40.0 || SOR > 3.0 || ReadPosRankSum < 15 || MQRankSum < -2"' // Site filters to pass to GATK. Set to 'NULL' to ignore this filter.
	min_contig_length = 1000000 // Minimum length of contig (before filtering) to retain in analysis
	min_filt_contig_length = 100000 // Minimum length of contig (after filtering) to retain in analysis
	gm_tmpdir = '/scratch/nzp_ccg/tmp' // Scratch directory for GenMap indexing
	snprelate_ld = 0.5 // LD-threshold for SNPRelate
	snprelate_opts = 'autosome.only = TRUE, maf = 0.01, missing.rate=0.9' // Other SNPRelate opts
	ngsrelate_opts = '-l 0.01' // Options for ngsRelate other than number of threads
	email = "NULL" // Email to send completion status to. Set to "NULL" for no email.
	
}

conda.enabled = true

profiles {

	african {
	
		params {
			
			outdir = "$launchDir/african_results_v2"
			stem = "african"
			refseq = "/scratch/nzp_ccg/refidx/loxAfr4.fa"
			refseq_fai = "/scratch/nzp_ccg/refidx/loxAfr4.fa.fai"
			refseq_dict = "/scratch/nzp_ccg/refidx/loxAfr4.dict"
		
		}
	
	}
	
	asian {
	
		params {
		
			outdir = "$launchDir/asian_results"
			stem = "asian"
			refseq = "/scratch/nzp_ccg/refidx/HiCKandula_yahs_scaffolds_final.fa"
			refseq_fai = "/scratch/nzp_ccg/refidx/HiCKandula_yahs_scaffolds_final.fa.fai"
			refseq_dict = "/scratch/nzp_ccg/refidx/HiCKandula_yahs_scaffolds_final.dict"
		
		}
	
	}

	standard {
	
		executor = 'local'
		
		process {
			errorStrategy = 'finish'
			maxRetries = 3
			
			withName: 'createGenomicsDB|jointGenotype|vcftoolsSiteFilter|gatkSiteFilter' {
				conda = 'bioconda::gatk4=4.3.0.0 bioconda::htslib=1.16 conda-forge::libzlib=1.2.13 bioconda::vcftools=0.1.16'
			}
			withName: 'sanityCheckLogsVcftools|sanityCheckLogsGatk' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.2.13 conda-forge::gsl=2.7'
			}
		}
	}
	
	hydra {
	
		executor {
	
			name = 'sge'
			exitReadTimeout = '10min'
	
		}
	
		process {
			maxForks = 1000 // Prevent job submission overflow
			storeDir = 'chkpnt' // Prevent remaking completed files
			errorStrategy { if (task.attempt < 4 as int) { return 'retry' } else { return 'finish' } }
			maxRetries 3
			
			withName: extractChrNames {
				clusterOptions = '-l mres=1G,h_data=1G,h_vmem=1G -S /bin/bash'
				queue = 'sThC.q'
			}
			withName: 'createGenomicsDB' {
				cpus = 3
				penv = 'mthread'
				clusterOptions = '-l mres=32G,h_data=32G,h_vmem=32G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::gatk4=4.3.0.0 bioconda::htslib=1.16 conda-forge::libzlib=1.2.13 bioconda::vcftools=0.1.16'
			}
			withName: 'jointGenotype|gatkSiteFilter' {
				cpus = 2
				penv = 'mthread'
				clusterOptions = '-l mres=32G,h_data=32G,h_vmem=32G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::gatk4=4.3.0.0 bioconda::htslib=1.16 conda-forge::libzlib=1.2.13 bioconda::vcftools=0.1.16'
			}
			withName: genMapIndex {
				queue = 'mThM.q'
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				conda = 'bioconda::genmap=1.2.0 conda-forge::ruby=2.6.3'
			}
			withName: genMapMap {
				queue = 'mThM.q'
				cpus = 8
				penv = 'mthread'
				clusterOptions = "-l mres=10G,h_data=10G,h_vmem=10G,himem -S /bin/bash"
				conda = 'bioconda::genmap=1.2.0 conda-forge::ruby=2.6.3 bioconda::bedtools=2.31.0'
			}
			withName: vcftoolsSiteFilter {
				cpus = 1
				queue = 'mThC.q'		
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G -S /bin/bash'
				conda = 'bioconda::gatk4=4.3.0.0 bioconda::htslib=1.16 conda-forge::libzlib=1.2.13 bioconda::vcftools=0.1.16'
			}
			withName: 'sanityCheckLogsVcftools|sanityCheckLogsGatk' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.2.13 conda-forge::gsl=2.7'
				queue = 'mThC.q'
				maxForks = 1000
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G -S /bin/bash'
			}
			withName: 'concatenateVCFs' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.2.13 conda-forge::gsl=2.7'
				queue = 'mThM.q'
				maxForks = 1000
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
			}
			withName: 'filterMappability' {
				conda = 'bioconda::bedtools=2.31.0 conda-forge::gzip'
				queue = 'mThM.q'
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
			}
			withName: 'snpRelate' {
				conda = 'bioconda::bioconductor-snprelate=1.34.1 conda-forge::liblapack=3.9.0'
				queue = 'mThM.q'
				cpus = 12
				penv = 'mthread'
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G,himem -S /bin/bash'
			}
			withName: 'ngsRelate' {
				queue = 'mThM.q'
				cpus = 24
				penv = 'mthread'
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G,himem -S /bin/bash'
			}
		}
	}
}
