/* GATK Joint-Genotyping Pipeline version 0.2.0
Michael G. Campana, 2023-2026
Smithsonian's National Zoo and Conservation Biology Institute

The software is made available under the Smithsonian Institution terms of use (https://www.si.edu/termsofuse). */

manifest {

	name = 'GATK Joint-Genotyping'
	author = 'Michael G. Campana'
	homePage = 'https://github.com/campanam/gatk_downstream'
	description = 'Automated GATK Joint-Genotyping'
	mainScript = 'gatk_downstream.nf'
	version = '0.2.0'
	nextflowVersion = '>=23.10.0'

}

params {

	outdir = "$launchDir/results" // Directory for output
	stem = "out" // Output file step
	refseq = "ref.fa" // Path to reference sequence
	gvcfs = "$launchDir/gVCFs" // Path to input individual gVCFs
	chrlist = "$launchDir/chr.list" // Path to list of chr to genotype. Set to "NULL" to use all chromosomes.
	java_options = '-D64 -Dserver -XX:MaxHeapSize=14G'
	vcftools_site_filters = "--minDP 5 --minGQ 40 --max-missing 0.1" // Site filters to pass to VCFtools. Set to "NULL" to ignore this filter.
	gatk_site_filters  = '--filter-name "filter" --filter-expression "QD < 4.0 || FS > 60.0 || MQ < 40.0 || SOR > 3.0 || ReadPosRankSum < 15 || MQRankSum < -2"' // Site filters to pass to GATK. Set to 'NULL' to ignore this filter.
	min_contig_vars = 100 // Minimum number of variants on a contig (before filtering) to retain in analysis
	min_filt_contig_vars = 10 // Minimum number of variants on a contig (after filtering) to retain in analysis
	gm_tmpdir = '/scratch/nzp_ccg/tmp' // Scratch directory for GenMap indexing
	gm_opts = '-K 30 -E 2' // Options for GenMap mapping (except threading)
	snprelate_ld = 0.5 // LD-threshold for SNPRelate
	snprelate_opts = 'autosome.only = TRUE, maf = 0.01, missing.rate=0.9' // Other SNPRelate opts
	ngsrelate_opts = '-l 0.01' // Options for ngsRelate other than number of threads
	email = "NULL" // Email to send completion status to. Set to "NULL" for no email.
	
}

conda.enabled = true

profiles {

	african {
	
		params {
			
			outdir = "$launchDir/african_results_v2"
			stem = "african"
			refseq = "/scratch/nzp_ccg/refidx/loxAfr4.fa"
		
		}
	
	}
	
	asian {
	
		params {
		
			outdir = "$launchDir/asian_results"
			stem = "asian"
			refseq = "/scratch/nzp_ccg/refidx/HiCKandula_yahs_scaffolds_final.fa"
			snprelate_opts = 'autosome.only = FALSE, maf = 0.01, missing.rate=0.9'
		
		}
	
	}
	
	cuon {
		
		params {
		
			outdir = "$launchDir/cuon_gatk_results"
			stem = "cuon"
			gvcfs = "$launchDir/cuon_results/07_IndividualgVCFs/genome/"
			refseq = "/scratch/nzp_ccg/refidx/GCA_040955705.1_LycPic1.final.hap2_genomic.fna"
			chrlist = "$launchDir/LycPic1_autosomes.txt"
		
		}
		
	}

	standard {
	
		executor = 'local'
		
		process {
			errorStrategy = 'finish'
			maxRetries = 3
			
			withName: 'refDictFai' {
				conda = 'bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
			}		
			withName: 'createGenomicsDB|jointGenotype|vcftoolsSiteFilter|gatkSiteFilter' {
				conda = 'bioconda::gatk4=4.6.2.0 bioconda::htslib=1.22.1 conda-forge::libzlib=1.3.1 bioconda::vcftools=0.1.17'
			}
			withName: 'sanityCheckLogsVcftools|sanityCheckLogsGatk' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.3.1 conda-forge::gsl=2.7'
			}
		}
	}
	
	hydra {
	
		executor {
	
			name = 'sge'
			exitReadTimeout = '10min'
	
		}
	
		process {
			maxForks = 1000 // Prevent job submission overflow
			storeDir = 'chkpnt' // Prevent remaking completed files
			errorStrategy = { task.attempt < 4 ? 'retry' : 'finish' }
			maxRetries = 3
			
			withName: 'refDictFai' { 
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				queue = 'sThM.q'
				storeDir = '/scratch/nzp_ccg/refidx'
				conda = 'bioconda::samtools=1.22.1 conda-forge::libzlib=1.3.1'
			}
			
			withName: extractChrNames {
				storeDir = '/scratch/nzp_ccg/refidx'
				clusterOptions = '-l mres=1G,h_data=1G,h_vmem=1G -S /bin/bash'
				queue = 'sThC.q'
			}
			withName: 'createGenomicsDB' {
				cpus = 3
				penv = 'mthread'
				clusterOptions = '-l mres=32G,h_data=32G,h_vmem=32G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::gatk4=4.6.2.0 bioconda::htslib=1.22.1 conda-forge::libzlib=1.3.1 bioconda::vcftools=0.1.17'
			}
			withName: 'jointGenotype|gatkSiteFilter' {
				cpus = 2
				penv = 'mthread'
				clusterOptions = '-l mres=32G,h_data=32G,h_vmem=32G,himem -S /bin/bash'
				queue = 'mThM.q'
				conda = 'bioconda::gatk4=4.6.2.0 bioconda::htslib=1.22.1 conda-forge::libzlib=1.3.1 bioconda::vcftools=0.1.17'
			}
			withName: genMapIndex {
				queue = 'mThM.q'
				storeDir = '/scratch/nzp_ccg/refidx'
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
				conda = 'bioconda::genmap=1.3.0 conda-forge::ruby=2.6.3'
			}
			withName: genMapMap {
				queue = 'mThM.q'
				cpus = 8
				penv = 'mthread'
				storeDir = '/scratch/nzp_ccg/refidx'
				clusterOptions = "-l mres=10G,h_data=10G,h_vmem=10G,himem -S /bin/bash"
				conda = 'bioconda::genmap=1.3.0 conda-forge::ruby=2.6.3 bioconda::bedtools=2.31.0'
			}
			withName: vcftoolsSiteFilter {
				cpus = 1
				queue = 'mThC.q'		
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G -S /bin/bash'
				conda = 'bioconda::gatk4=4.6.2.0 bioconda::htslib=1.22.1 conda-forge::libzlib=1.3.1 bioconda::vcftools=0.1.17'
			}
			withName: 'sanityCheckLogsVcftools|sanityCheckLogsGatk' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.3.1 conda-forge::gsl=2.7'
				queue = 'mThC.q'
				maxForks = 1000
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G -S /bin/bash'
			}
			withName: 'concatenateVCFs' {
				conda = 'bioconda::bcftools=1.16 conda-forge::libzlib=1.3.1 conda-forge::gsl=2.7'
				queue = 'mThM.q'
				maxForks = 1000
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
			}
			withName: 'filterMappability' {
				conda = 'bioconda::bedtools=2.31.0 conda-forge::gzip'
				queue = 'mThM.q'
				clusterOptions = '-l mres=16G,h_data=16G,h_vmem=16G,himem -S /bin/bash'
			}
			withName: 'snpRelate' {
				conda = 'bioconda::bioconductor-snprelate=1.34.1 conda-forge::liblapack=3.9.0'
				queue = 'mThM.q'
				cpus = 12
				penv = 'mthread'
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G,himem -S /bin/bash'
			}
			withName: 'ngsRelate' {
				queue = 'mThM.q'
				cpus = 24
				penv = 'mthread'
				clusterOptions = '-l mres=8G,h_data=8G,h_vmem=8G,himem -S /bin/bash'
			}
		}
	}
}
